* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
  }

body{
    display: block;
    background-color: rgb(239, 239, 239);
}

.navBar {
    padding: 13px 41px 0px 41px;
}

.interview{
    color: rgba(11, 153, 241, 0.764);
    text-decoration: underline;
}

.title-navBar{
    font-size: 28px;
}

.main h1{
    margin-top: 8px;
}

.purchase-request-panel{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.left-purchase{
    background-color: #ffffff;
    padding: 20px;
    width: 60%;
}

.left-purchase span{
    font-size: 15px;
}

.left-purchase .search{
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
}

table, tr{
    height: 33px;
    border-bottom: 1px solid #e0e0e0;
}

.tableleft-purchase{
    border-bottom: 1px solid #000;
}

.left-purchase .search,
.right-purchase .search{
    display: flex;
    margin-top: 12px;
    background-color: #ebebeb;
    padding: 5px;
    align-items: center;
}

.tableNeed{
    margin-top: 10px;
}

.right-purchase{
    background-color: #ffffff;
    padding: 20px;
    width: 39.3%;
}

.right-purchase span{
    font-size: 15px;
}

.purchase-request-panel .checkbox{
    display: flex;
    margin-top: 10px;
}

.title-purchase{
    font-size: 22px;
}

.listBuy span{
    font-size: 15px;
}

.listBuy{
    background-color: #ffffff;
    padding: 20px 0px 0px 20px;
    display: grid;
    margin-top: 20px;
}

.listBuy .view{
    display: flex;
    font-size: 14px;
    margin-top: 20px;
    justify-content: space-between;
}

.listBuy .view-left{
    color: rgb(32, 142, 232);
}

.listBuy .view-right,
.listBuy .createNew
{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.listBuy .createNew{
    background-color: rgb(32, 142, 232);
    padding: 9px;
    margin-left: 8px;
    color: #ffffff;
}

.title-search{
    margin-left: 12px;
}

.title-listBuy{
    padding: 13px 25px 0px 25px;
}

.titleList {
    font-size: 22px;
}

table {
    width: 100%;
}

table .menu{
    background-color: #e6e6e6;
    height: 40px;
    font-weight: 600;
}

.bodyTable{
    background-color: #ffffff;
    height: 30px;
    font-size: 14px;
}

.table-list {
    padding: 0px 25px 15px 25px;
}

td.iconMore {
    padding: 0px 18px 0px 0px;
}

.txtStatus{
    padding: 4px;
}

td.menuID,
.title-menuID {
    padding: 0px 12px;
}

td.menuID {
    color: #53b1ee;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 5px;
    width: 100%; 
  }
  
  .search-icon {
    margin-right: 10px;
    color: #928e8e; 
  }
  
  .search-input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  
  .search-bar-container:hover,
  .search-input:focus {
    .search-icon{
        color: #000000;
    }
  }

@media only screen and (min-width: 1048px) and (max-width: 1366px){
    .header ul li{
        font-size: 14px;
        margin-left: 16px;
    }

    .purchase-request-panel .left-purchase{
        width: 60%;
    }

    .purchase-request-panel .right-purchase{
        width: 33%;
    }

    .right-purchase .checkbox,
    .left-purchase .checkbox{
        font-size: 12px;
    }

    .right-purchase .checkbox p{
        margin-left: 0;
    }
}

